<a href="https://colab.research.google.com/github/NormanBetancourth/Analisis-De-Datos/blob/main/Ejercicios_Video_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print('Ejercicio Bisiesto')
anio = int(input("Ingrese el año: "))
if (anio % 400 == 0) or (anio % 4 == 0) and (anio % 100 != 0):
  print(f'El año {anio} es bisiesto')
else:
  print(f'El año {anio} NO es bisiesto')

Ejercicio Bisiesto
Ingrese el año: 2012
El año 2012 es bisiesto

In [ ]:
print(f'Switch')
switcher={1: "Enero",2: "Febrero",3: "Marzo",4: "Abril",5: "Mayo",6: "Junio", 7: "Julio",8: "Agosto",9: "Septiembre",10: "Octubre", 11: "Noviembre",12: "Diciembre"}
argument = int(input("Ingrese un numero"))
nombreDeMes = switcher.get(argument, "Mes invalido")
print(nombreDeMes)

Switch
Ingrese un numero15
Mes invalido

In [ ]:
C = -1 
I = 0
M = 0

while( (C<0) or (I<=0) or (I>100) or (M <= 0) ):
  print("Introduce el capital de tu interés y tiempo acpropiados")
  C = int(input("Capital: "))
  I = int(input("Interes: "))
  M = int(input("Años: "))

for i in range(M):
  C = C * (1 + I / 100)
  print("Monto ", C, " Colones")

Introduce el capital de tu interés y tiempo acpropiados
Capital: 2000
Interes: 10
Años: 20
Monto  2200.0  Colones
Monto  2420.0  Colones
Monto  2662.0  Colones
Monto  2928.2000000000003  Colones
Monto  3221.0200000000004  Colones
Monto  3543.1220000000008  Colones
Monto  3897.434200000001  Colones
Monto  4287.177620000001  Colones
Monto  4715.8953820000015  Colones
Monto  5187.484920200002  Colones
Monto  5706.233412220003  Colones
Monto  6276.8567534420035  Colones
Monto  6904.542428786204  Colones
Monto  7594.996671664825  Colones
Monto  8354.496338831308  Colones
Monto  9189.94597271444  Colones
Monto  10108.940569985885  Colones
Monto  11119.834626984475  Colones
Monto  12231.818089682924  Colones
Monto  13454.999898651216  Colones

In [ ]:
#Divisores
print("digite un numero")
numero = int(input("Numero"))

while(numero > 0):
  Suma = 0
  for i in range(1, numero+1):
    if numero % i == 0 :
      Suma += i
  numero = int(input("Numero"))

print(Suma)

digite un numero
Numero10
18

In [ ]:
#Ejercicio temperaturas
temperaturas = [35,34,33,32,27,25,21]